body{
    overflow-x: hidden;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  }
  
  .container{
    background: #fff;
    width: 540px;
    height: 450px;
    margin: 0 auto;
    position: relative;
    margin-top: 10%;
    box-shadow: 2px 5px 20px rgba(119, 119, 119, .5);
  }
  
  .leftbox{
    float: left;
    top: -5%;
    left: 5%;
    position: absolute;
    width: 15%;
    height: 110%;
    background: #2ed573;
    box-shadow: 3px 3px 10px rgba(119, 119, 119, .5);
    border: .1em solid #fff;
  }
  
  nav a{
    list-style: none;
    padding: 35px;
    color: #fff;
    font-size: 31px;
    display: block;
    transition: all .3s ease-in-out;
    margin-top: -15px;
    padding-left: 25px;
  }
  
  nav a :hover{
    color: #10ac84;
    cursor: pointer;
    transform: scale(1.2);
  }
  
  nav a :first-child{
    margin-top: 7px;
  }
  
  .rightbox{
    width: 60%;
    margin-left: 27%;
  }
  
  
  .tabShow{
    transition: all .5s ease-in;
    width: 80%;
  }
  
  h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #7ed386;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 35px;
    padding-top: 40px;
    text-transform: uppercase;
    text-align: center;
    padding-left: 80px;
  }
  
  h2{
    color: #777;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    letter-spacing: 1px;
    margin-left: 2px;
    margin-top: -20px;
    margin-bottom: 9px;
  }
  
  p{
    border: 0;
    border-bottom: 1px solid #3fb638;
    width: 120%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 7px 0;
    color: #070707;
    outline: none;
      
  }
  
  
  
  